*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-family: "Inter",sans-serif;
    line-height: 25px;
}
svg{
    fill: #ff3333;
}
img, .top-div3, .facts_div1, .facts_div2, .service_head, .service_main1{
    width: 100%;
}
.top-div1,.nav-bar-icon, .top-div2, .nav-bar, .top-div3, .about_img, .about_div,
.global, .delivery, .headphone-div, .facts_div, .facts_main, .facts_div3, 
.service_head, .service_div1, .feature_div1, .feature_div2, .tick, .price_txt {
    display: inline-block;
}
.top-div1, .buttonem, .headphone-div, .arrow, .buttonrm{
    background-color: #ff3333;
}    
.top-div1, .facts_div1, .facts_div2, .facts_div3, .service_div1{
    padding: 20px;
}
.facts_div1, .facts_div2, .facts_div3{
    height: 170px;
}
.top-txt, .center1{
    text-align: center;
}
.top-txt, .head1, .head3, .img_txt, .buttonrm, .buttonfq, .buttonem, .ftxt1, .ftxt2{
    color: #ffffff;
}
.nav-bar-icon, .nav-bar{
    padding-left: 25px;
}
.head1, .facts{
    margin-left: 80px;
}
.img_txt, .red-txt{
    font-size: 25px;
}
.buttonrm, .buttonfq, .buttonem{
    padding: 20px 55px;
    font-size: 15px;
}
.about_img, .about_div{
    width: 47%;
    height: 580px;
}
.about_div, .delivery, .facts_div3, .feature_div1{
    vertical-align: top;
}
.headphone-div, .feature_div1{
    height: 60px;
}
.white-icon, .arrow{
    height: 40px;
}
.facts_div, .ftxt1{
    font-weight: bold;
}
.facts_main, .facts_div3{
    width: 20%;
}
.facts_div2, .arrow{
    margin: 20px 0 0 0;
}
.top-border{
    border: 3px solid #ff3333;
    position: sticky;
    top: 0;
}
.top-div1{
    width: 18%;
    position: sticky;
    top: 0;
}
.top-txt{
    font-size: 30px;
}
.nav-bar-icon{
    width: 6%;
}
.top-div2{
    padding: 9px;
    width: 77%;
    text-align: end;
    position: sticky;
    top: 0;
}
.nav-bar{
    font-size: 14px;
    vertical-align: bottom;
}
.top-div3{
    background: url(../images/carousel-1.jpg) no-repeat center;
    background-size: 100% 100%;
}
.head3{
    text-transform: uppercase;
    padding: 180px 0 20px 80px;
}
.head1{
    font-size: 60px;
}
.img_txt{
    text-transform: lowercase;
    padding: 40px 0 30px 80px;
}
.buttonrm{
    margin: 0 10px 180px 80px;
}
.buttonfq{
    background-color: aqua;
    margin: 0 10px 180px 10px;
}
.about_img{
    margin: 150px 0 0 0;
}
.about_div{
    margin: 150px 0 0 50px;
}
.head3-1{
    color: #51CFED;
    margin: 0;
}
.head1-1{
    font-size: 40px;
    margin: 20px 0 50px 0;
}
.global, .delivery{
    width: 45%;
    height: 50%;
    margin: 50px 0 0 0;
}
.delivery{
    margin: 50px 0 0 30px;
}
.globe{
    margin: 15px 0 10px 0;
}
.buttonem{
    margin: 40px 10px 0 0;
}
.headphone-div{
    width: 60px;
    margin: 40px 0 0 0;
    padding: 10px;
}
.white-icon{
    fill: #ffffff;
    width: 40px;
}
.facts_div{
    margin: 40px 0 0 20px;
    width: 40%;
    height: 200px;
}
.red-txt{
    color: #ff3333;
    margin: 8px 0 0 0;
}
.facts{
    width: 45%;
    height: 380px;
}
.facts_main{
    margin: 150px 15px 0 50px;
    height: 370px;
}
.facts_div1{
    background-color: #FF3E41;
}
.facts_div2{
    background-color: #51CFED;
}
.facts_div3{
    background-color: #198754;
    margin: 250px 0 0 10px;
}
.ftxt1{
    font-size: 32px;
    margin: 12px 0 0 0;
}
.ftxt2{
    font-size: 18px;
    margin: 15px 0 0 0;
}
.service_head{
    margin: 100px 0 0 0;
}
.service_main1{
    margin: 0 0 0 55px;
}
.service_div1{
    width: 27%;
    height: 390px;
    margin: 0 0 30px 30px;
    box-shadow: 0 0 5px;
}
.arrow{
    width: 45px;
    padding: 0;
    border-radius: 0 25px 25px 0;
}
.feature_div1{
    width: 11%;
    margin: 15px 0 30px 0;
}
.globe-icon{
    width: 70%;
}
.truck-icon{
    width: 22%;
}
.feature_div2{
    width: 80%;
    margin: 0 0 30px 0;
}

