*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-family: "Inter",sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #555555;
}
svg{
    fill: #ff3333;
}
span{
    color: #FF3E41;
}
img, .navigation, .top-border, .banner, .about, .facts, .trans_banner, 
.clients, .shipments,.cust_reviews, .service_head{
    width: 100%;
}
.nav_left,.nav_bar_icon, .nav_bar, .nav_items, .nav_items1, .banner, .about_img, .about_div, .some_facts, 
.reviews, .global, .delivery, .headphone_icon, .facts_query, .facts_main, .customers, 
.service_head, .service_div1, .feature_div1, .feature_div2, .tick, .price_txt {
    display: inline-block;
}
.nav_left, .buttonem, .headphone_icon, .arrow, .buttonrm{
    background-color: #ff3333;
}    
.clients, .shipments, .cust_reviews, .service_div1{
    padding: 21px;
}
.nav_txt, .center1{
    text-align: center;
}
.nav_txt, .head1, .head3, .img_txt, .buttonrm, .buttonfq, .buttonem, .ftxt1, .ftxt2{
    color: #ffffff;
}
.nav_bar_icon, .nav_items, .nav_items1{
    padding-left: 19px;
}
.img_txt, .red-txt{
    font-size: 18px;
}
.buttonrm, .buttonfq, .buttonem{
    padding: 18px 44px;
    font-size: 15px;
    border: none;
}
.about_img, .about_div, .reviews{
    width: 49%;
}
.about_div, .delivery, .reviews, .customers, .feature_div1{
    vertical-align: top;
}
.head3,.head3-1, .facts_query, .ftxt1{
    font-weight: bold;
}
.shipments, .arrow{
    margin: 20px 0 0 0;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 0.5s;
    background-color: #ffffff;
}
.border{
    border: 3px solid #ff3333;
    opacity: 0.9;
}
.nav_items1::before{
    content: "";
    width: 50px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 525px;
    background-color: #ffffff;
}
.nav_items::before{
    content: "";
    display: none;
    width: 50px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 595px;
    background-color: #ffffff;
    transition: 2s;
}
.nav_items:hover::before{
    display: block;
}
.nav_left{
    width: 18%;
    padding: 21px;
    opacity: 0.9;
}
.nav_txt{
    position: relative;
    font-size: 28px;
}
.nav_bar_icon{
    width: 5%;
    opacity: 0.9;
}
.nav_bar{
    padding: 8px;
    width: 79%;
    text-align: end;
}
.nav_items, .nav_items1{
    font-size: 14px;
    vertical-align: bottom;
}
.nav_items:hover{
    color: #FF3E41;
}
.nav_bar_pno{
    font-size: 21px;
    letter-spacing: 1px;
}
.banner{
    position: relative;
    top: 0;
}
.trans_banner{
    background: rgba(6, 3, 21, .5);
    position: absolute;
    top: 0;
}
.head3{
    font-size: 17px;
    text-transform: uppercase;
    padding: 160px 0 15px 75px;
}
.head1{
    margin-left: 75px;
    font-size: 55px;
}
.img_txt{
    padding: 30px 0 30px 75px;
    font-weight: 600;
}
.buttonrm{
    margin: 0 10px 165px 75px;
}
.buttonfq{
    background-color: #51CFED;
    margin: 0 10px 0 10px;
}
.about_img, .about_div, .facts{
    margin-top: 150px;
}
.about_div{
    padding-left: 40px;
}
.head3-1{
    color: #51CFED;
    margin: 0;
}
.head1-1{
    font-size: 40px;
    margin: 20px 0 50px 0;
}
.global, .delivery{
    width: 45%;
    margin: 50px 0 0 0;
}
.delivery{
    margin: 50px 0 0 30px;
}
.globe{
    margin: 15px 0 10px 0;
}
.buttonem{
    margin: 40px 10px 0 0;
}
.headphone_icon{
    width: 60px;
    margin: 40px 0 0 0;
    padding: 10px;
}
.white_icon{
    fill: #ffffff;
    width: 40px;
    height: 40px;
}
.facts_query{
    margin: 40px 0 0 20px;
    width: 40%;
}
.red-txt{
    color: #ff3333;
    margin: 8px 0 0 0;
}
.some_facts{
    width: 50%;
    padding-left: 75px;
}
.facts_main{
    margin: 0 15px 0 25px;
    width: 40%;
}
.customers{
    width: 40%;
}
.clients{
    background-color: #FF3E41;
}
.shipments{
    background-color: #51CFED;
}
.cust_reviews{
    background-color: #198754;
    margin: 85px 0 0 10px;
}
.ftxt1{
    font-size: 32px;
    margin: 12px 0 0 0;
}
.ftxt2{
    font-size: 18px;
    margin: 15px 0 0 0;
}
.service_head{
    margin: 100px 0 0 0;
}
.service_main1{
    margin: auto;
    width: 88%;
}
.service_div1{
    width: 30%;
    margin: 0 0 30px 30px;
    box-shadow: 0 0 5px;
}
.arrow{
    width: 45px;
    padding: 0;
    border-radius: 0 25px 25px 0;
}
.feature_div1{
    width: 11%;
    margin: 15px 0 30px 0;
}
.globe-icon{
    width: 70%;
}
.truck-icon{
    width: 22%;
}
.feature_div2{
    width: 80%;
    margin: 0 0 30px 0;
}

