*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-family: "Inter",sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #555555;
}
a:visited{
    color: black;
}
a:hover, span{
    color: #FF3E41;
}
svg{
    fill: #ff3333;
}
.up_arrow_icon{
    fill: #ffffff;
    width: 15px;
    height: 25px;
}
.up_arrow{
    background-color: #FF3E41;
    width: 46px;
    height: 48px;
    border: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
img, .navigation, .top-border, .banner, .about, .facts, .trans_banner, 
.clients, .shipments,.cust_reviews, .service_head{
    width: 100%;
}
.nav_left, .nav_bar_icon, .nav_bar, .nav_items, .banner, .about_img, .about_div, .some_facts, 
.reviews, .global, .delivery, .headphone_icon, .facts_query, .facts_main, .customers, 
.service_head, .service_div, .feature_div1, .feature_div2, .tick, .price_txt {
    display: inline-block;
}
.nav_left, .buttonem, .headphone_icon, .arrow, .buttonrm{
    background-color: #ff3333;
}    
.clients, .shipments, .cust_reviews, .service_div{
    padding: 21px;
}
.nav_txt, .center{
    text-align: center;
}
.nav_txt, .banner_head2, .banner_head1, .banner_txt, .buttonrm, .buttonfq, .buttonem, .ftxt1, .ftxt2{
    color: #ffffff;
}
.nav_bar_icon, .nav_items{
    padding-left: 19px;
}
.banner_txt, .red_txt{
    font-size: 18px;
}
.buttonrm, .buttonfq, .buttonem{
    padding: 18px 44px;
    font-size: 15px;
    border: none;
}
.about_img, .about_div, .reviews{
    width: 49%;
}
.about_div, .delivery, .reviews, .customers, .feature_div1{
    vertical-align: top;
}
.banner_head1, .banner_head2, .header1, .facts_query, .ftxt1{
    font-weight: bold;
}
.shipments, .arrow{
    margin: 20px 0 0 0;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 0.5s;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.border{
    border: 3px solid #ff3333;
    opacity: 0.9;
}
li::before{
    content: "";
    display: none;
    width: 80%;
    height: 6px;
    position: absolute;
    top: -35px;
    background-color: #ffffff;
    text-align: center;
}
li:hover::before, li:active::before{
    display: block;
}
li a{
    text-decoration: none;
}
li{
    position: relative;
}
.nav_left{
    width: 18%;
    padding: 21px;
    opacity: 0.9;
}
.nav_txt{
    position: relative;
    font-size: 28px;
}
.nav_bar_icon{
    width: 5%;
    opacity: 0.9;
    vertical-align: bottom;
}
.nav_bar{
    padding: 8px;
    width: 79%;
    text-align: end;
}
.nav_items{
    font-size: 14px;
    vertical-align: bottom;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown_items{
    display: none;
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    color: #555555;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.7);
    text-align: left;
    min-width: 120px;
    
}
.dropdown:hover .dropdown_items{
    display: block;
}

.nav_bar_pno{
    font-size: 21px;
    letter-spacing: 1px;
}
.banner{
    position: relative;
    top: 0;
}
.trans_banner{
    background: rgba(6, 3, 21, .5);
    position: absolute;
    top: 0;
}
.banner_head1{
    font-size: 17px;
    text-transform: uppercase;
    padding: 160px 0 15px 75px;
}
.banner_head2{
    margin-left: 75px;
    font-size: 55px;
}
.banner_txt{
    padding: 30px 0 30px 75px;
    font-weight: 600;
}
.buttonrm{
    margin: 0 10px 165px 75px;
}
.buttonfq{
    background-color: #51CFED;
    margin: 0 10px 0 10px;
}
.about_img, .about_div, .facts{
    margin-top: 150px;
}
.about_div{
    padding-left: 40px;
}
.header1{
    color: #51CFED;
    margin: 0;
}
.header2{
    font-size: 40px;
    margin: 20px 0 50px 0;
}
.global, .delivery{
    width: 45%;
    margin: 50px 0 0 0;
}
.delivery{
    margin: 50px 0 0 30px;
}
.globe{
    margin: 15px 0 10px 0;
    font-size: 20px;
}
.buttonem{
    margin: 40px 10px 0 0;
}
.headphone_icon{
    width: 60px;
    margin: 40px 0 0 0;
    padding: 10px;
}
.white_icon{
    fill: #ffffff;
    width: 40px;
    height: 40px;
}

.facts_query{
    margin: 40px 0 0 20px;
    width: 40%;
}
.red_txt{
    color: #ff3333;
    margin: 8px 0 0 0;
}
.some_facts{
    width: 50%;
    padding-left: 75px;
}
.facts_main{
    margin: 0 15px 0 25px;
    width: 40%;
}
.customers{
    width: 40%;
}
.clients{
    background-color: #FF3E41;
}
.shipments{
    background-color: #51CFED;
}
.cust_reviews{
    background-color: #198754;
    margin: 85px 0 0 10px;
}
.ftxt1{
    font-size: 32px;
    margin: 12px 0 0 0;
}
.ftxt2{
    font-size: 18px;
    margin: 15px 0 0 0;
}
.service_head{
    margin: 100px 0 0 0;
}
.service_main{
    margin: auto;
    width: 88%;
}
.service_div{
    width: 30%;
    margin: 0 0 30px 30px;
    box-shadow: 0 0 45px 0 rgba(235, 235, 235, 0.9);
    transition: 0.5s;
}
.arrow{
    padding: 5px 3px;
    border-radius: 0 25px 25px 0;
    float: left;
    transition: 0.5s;
}
.arrow_icon{
    fill: #ffffff;
    width: 40px;
    height: 30px;
    float: left;
}
.arrow::after{
    content: "Read More";
    color: #ffffff;
    display: none;
    position: relative;
    top:0;
    font-size: 15px;
    font-weight: bold;
    float: left;
    padding: 5px 8px 5px 0;
    
}
.arrow:hover::after{
    display: block;
}
.service_div:hover .arrow::after{
    display: block;
}
.arrow:hover{
    background-color: #51CFED;
}
.feature_div1{
    width: 11%;
    margin: 15px 0 30px 0;
}
.globe-icon{
    width: 70%;
}
.global_icon{
    width: 18%;
}
.truck_icon{
    width: 22%;
}
.feature_div2{
    width: 80%;
    margin: 0 0 30px 0;
}

